<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6f2kdnLn7J6aNGGG1IVqmXsQeZFLdpaE</string>
	<key>GCM_SENDER_ID</key>
	<string>317289555906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brigido.myacess</string>
	<key>PROJECT_ID</key>
	<string>myacess-bd4ba</string>
	<key>STORAGE_BUCKET</key>
	<string>myacess-bd4ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317289555906:ios:b0dc897f604d70cdafd85b</string>
</dict>
</plist>